<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>search</title>
</head>
<body>
    <header>
        <h1>
            Searching Form :
        </h1>
    </header>
    
<main>

<form action="/search" method="GET">

<label for="">search for :</label>
<input type="text" name="title"  required>

<label for="">tv series</label>
<input type="radio" name="radio" value="tv" required>

<label for="">movies</label>
<input type="radio" name="radio" value="movie" required>

<input type="submit"  value="search" >


</form>

</main>




</body>
</html>