body{
    background-color: bisque;
}
h1{

    background-color: coral;
    text-align: center;
}
.allContainer{

width: 90%;
margin: 1em auto;
display: flex;
justify-content: space-around;
flex-wrap: wrap;

}

.container{
    width: 30%;
    margin: 1em;
    text-align: center;
    box-shadow: 5px 5px 5px 5px salmon;
    background-color: seashell;
}

.container > img{

width: 200px;
height: 200px;
border-radius: 10%;
border: 2px solid black;



}